.container {
  background-image:url(/cloud_lightning.webp);
}
.holy {
  font-family: Ariel, sans;
  position: relative;
   top: -30px;
  font-size: 52px;
}
.title {
  position: relative;
  top: -100px;
  margin-top: 0;
  font-family: Ariel, sans;
  text-shadow: 2px 2px grey;
  font-size: 64px;
  margin-bottom: 3rem;
}
.hero {
  position:relative;
  top: -170px;
}
.transcribed {
   position: relative;
   top: -20px;
}
.index  {
  position: relative;
   top: -25px;
  display: grid;
  grid-gaps: 10px;
  justify-content: space-around;
  background-color: transparent;
  list-style-type: none;
}
.li {
  margin-left:-30px;
  width:100vw;
  grid-gaps: 10px;
  border: 1px solid black;
  line-height:1.5;
}
.li:hover,
.li:focus,
.li:active {
  border: 2px solid black;
  background-color: grey;
  cursor:pointer;
}
@media (max-width:768px) {
  .hero {
      height: 700px;
  }
}
