.container {
  background-color: silver;
}
.holy {
  font-family: Ariel, sans;
  position: relative;
   top: -30px;
  font-size: 52px;
}
.title {
  position: relative;
  top: -100px;
  margin-top: 0;
  font-family: Ariel, sans;
  text-shadow: 2px 2px grey;
  font-size: 64px;
  margin-bottom: 3rem;
}
.hero {
  position:relative;
  top: -170px;
}
.transcribed {
   position: relative;
   top: -25px;
}
.index  {
  position: relative;
   top: -25px;
  display: grid;
  grid-gaps: 10px;
  justify-content: space-around;
  background-color: transparent;
  list-style-type: none;
  text-align: left;
}
.li {
  grid-gaps: 10px;
  border: 1px black;
  text-align: left;
}
